.verified-container {
    width: var(--عرض-البطاقة);
    height: 400px;
    background-color: var(--خلفية-البطاقة);
    margin: var(--مارجن-البطاقة);
    padding: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: center;   
    gap: 20px;
    align-items: center;       
    text-align: center; 
    border-radius: var(--راديوس-البطاقة);  
    border: 2px solid var(--حد-واضح); /* حافة بلون موف */
    box-shadow: var(--ظل-البطاقة)
}

.verified-container h1{
    color: var(--نص-رئيسي);;
}
.verified-container p{
    color: var(--نص-ثانوي); ;
}
